<article>
      <h1>Human-Computer Interaction</h1>
      <!--<button type='button' id="submit" action="/hci/lesson1" onclick="submit()">Submit lesson</button>-->
      <form action="/hci/lesson1" method="post">
            <button type="submit">Submit Lesson</button>
      </form>
      <section>
            <hr />
            <h2 class="titles">Lesson 1</h2>
            <p>
                  The concept of Interaction Styles refers to all the ways the user can communicate or otherwise
                  interact with the computer system. There are many different types of interaction styles, such as
                  command language.
                  Command language is the earliest form of interaction style and is still being used, though mainly on
                  Linux/Unix operating systems. These "Command prompts" are used by (usually) expert users who type in
                  commands and possibly some parameters that will affect the way the command is executed.
                  Because it is used in operating systems, it is the same throughout all appliances and therefore does
                  not need to be relearned for new applications.
                  Form Completion is another interaction style that deals with making things simpler for the user, as it
                  reduces the number of things they need to do to learn the system.
            </p>
            <br>
            <p>
                  It is important to understand who your interaction is meant for as this will help decide what type of
                  interaction style is best. You'll want to find the right style to give your user a complete
                  experience, otherwise known as the Gestalt property of closure. Each one has its benefits and usually
                  user experience design involves tradeoffs, such as increasing performance speed leading to a higher
                  chance of errors.
                  It's also easy to overwhelm the user with too much information, organizing your system to make it
                  appear cleaner is a way to reduce the amount of visual noise is produced. The <strong>SLIP</strong>
                  strategy is a great tool for that, it stands for <strong>Sort</strong> the items,
                  <strong>Label</strong> the categories,
                  <strong>Integrate</strong> similar groups together, and <strong>Prioritize</strong> the most important
                  information. This can also be applied to other every day things like card sorting, which also
                  demonstrates how users like to organize things in their minds.

            </p>
</article>