<article>
      <h1>Human-Computer Interaction</h1>
      
      <section>
            <hr>
            <h2 class="titles">Microinteractions</h2>
            <p>   
                  
                  Microinteractions are small and usually a collection of them result in a feature.
                  There are four parts to microinteractions:<br>
                  <strong>Triggers</strong>- initiate the interaction,
                  <br>
                  <strong>Rules</strong>- determine how they work,
                  <br>
                  <strong>Feedback</strong>- illuminates the rules or tells the user how the rules work,
                  <br>
                  <strong>Loops and Modes</strong>- hidden meta rules that affect the interaction.
            </p>
            <!--<button type='button' id="submit" action="/hci/lesson1" onclick="submit()">Submit lesson</button>-->
      <form action="/hci/lesson2" method="post">
            <button type="submit">Next</button>
      </form>
</article>