<!DOCTYPE html>
<html lang="en">
<body>
  <meta charset="utf-8">
  <title>Lesson 2 Game</title>
  <link rel="stylesheet" href="/public/css/hci.css">
  <header id="head">
    <h1 class="hci1">Lesson 2 Game</h1>
  </header>
  <br>
  <main class="container">
    <div class="row">
      <!--<button type='button' id="submit" onclick="submit()">Submit Quiz</button>-->
      <div class="box next_arrow">
        <form action="/hci/lesson2game" method="post">
          <button type="submit">Submit Quiz</button>
        </form>
      </div>
      <div class="col-sm-6">
        <form id="HCI" class="computer interaction">
          <div class="form-content">
            <span id="question"><strong>question:</strong></span>
            <label id="label" for="number" class="hcianswers">
              <br><br>
              <div class="c1">
                <label id="a1l" for="a1"></label>
                <input type="radio" name="answer" id="a1" class="hcichoices">
              </div>
              <div class="c2">
                <label id="a2l" for="a2"></label>
                <input type="radio" name="answer" id="a2" class="hcichoices">
              </div>
              <div class="c3">
                <label id="a3l" for="a3"></label>
                <input type="radio" name="answer" id="a3" class="hcichoices">
              </div>
              <div class="c4">
                <label id="a4l" for="a4"></label>
                <input type="radio" name="answer" id="a4" class="hcichoices">
              </div>
            </label>
            <button type='button' id="subans" onclick="subAns()">Submit</button>
            <br> <br>
            <footer class='questions_footer'>
              <button type='button' id="nq" onclick="nextq()">Next Question</button>
              <br><br>
              <label>Question: </label><label id="counter">1</label><label id="total">/5</label>
              <br><br>
              <label id="hcianswer"></label>
            </footer class="hci footer">
            <hr>
            <div class="animation">
              <img src="../../public/img/HCI/Mage 2/wizard.png" id="wizard">
              <img src="../../public/img/HCI/Mage 2/fireball_1.png" id="fireball">
              <img src="../../public/img/HCI/Mage 1/enemy.png" id="enemy">
            </div>
            </hr>

          </div>
          <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger text-goes-here">
            </div>
          </div>
          <div class="form-group hidden" id="result-container">
            <div class="alert alert-success text-goes-here">
            </div>
          </div>
        </form>
      </div>
    </div>
    <ul id="items"></ul>
  </main>
  <footer class="footer">
    <br><br>
  </footer>
  <script src="/public/js/hci2.js"></script>
</body>

</html>