<article>
      <h1>Human-Computer Interaction</h1>
      <section>
            <hr />
            <h2 class="titles"><strong>Maeda's SLIP strategy for organization</strong></h2>
            <p>
                  SLIP is an excellent strategy for getting a handle on how users organize commands/task(s) in their minds and is an important part of the 10 laws of simplicity. Once you know how a user likes to organize, you can shape your product to fit their intuition making it easier for them to understand! SLIP captures the methodology in a succinct acronym.
                  It stands for:
                  <br>
                  <strong>Sort-</strong> the items, so they are in an order that makes sense
                  <br>
                  <strong>Label-</strong> the categories, so you can identify them quicker
                  <br>
                  <strong>Integrate-</strong> combine similar groups, to make it seem less complex
                  <br>
                  <strong>Priority-</strong> combine the highest priority into a single set, so you know what to focus on
            </p>
            <!--<button type='button' id="submit" action="/hci/lesson1" onclick="submit()">Submit lesson</button>-->
            <form action="/hci/lesson1" method="post">
                  <button type="submit">Next</button>
            </form>
</article>