<article>
      <h1>Human-Computer Interaction</h1>
      <!--<button type='button' id="submit" action="/hci/lesson1" onclick="submit()">Submit lesson</button>-->

      <section>
            <hr />
            <h2 class="titles">Lesson 2</h2>
            <p>
                  Microinteractions are the heart of HCI, they control the moment to moment experience. The value of
                  making the complex as simple as possible becomes much more clear once you try to build something that
                  you want folks to use. The difference in an “amateur” app and one that is successful is focusing on
                  the details and ensuring that the users have a delightful and productive user experience that is not
                  frustrating or annoying.
                  Microinteractionsare small and usually a collection of them result in a feature –that is if you are
                  careful enough to design the feature as a series of interactions! A toaster is a
                  microinteraction–place the bread in the machine and out pops toast –if you plugged in the toaster!
                  Buttons werethe first widely developed microinteraction. A simple press could result in significant
                  activity, such as starting an engine. Buttons signify masking complexity as was clearly evident from
                  Staples ad campaign that emphasized how easy it was to do order supplies form them.
                  There are four parts to microinteractions <strong>Triggers</strong>, which initiate the interaction,
                  <strong>Rules</strong> which determine how they work, <strong>Feedback</strong>, which illuminates the
                  rules or tells the user how the rules work, and <strong>Loops and Modes</strong> which are hidden meta
                  rules that affect the interaction.
                  Each interaction should be focused on individually and reduced to its core feature, or essence, in
                  order to simplify the interactions as much as possible. The more simplified you can make your
                  interactions, the better they will be!
            </p>
            <br/>
            <form action="/hci/lesson2" method="post">
                  <button type="submit">Next</button>
            </form>
</article>