<section>
      <h1>Your Progress in Human-Computer Interaction: <span id='progress'>{{hciProgress}}</span>%</h1>
      </p>
      <hr />
      <div>
            <p>
                  <strong>What is human computer interaction?</strong><br>Human-computer interaction (HCI) is a multidisciplinary field of study focusing on the design of computer technology and, in particular, the interaction between humans (the users) and computers. While initially concerned with computers, HCI has since expanded to cover almost all forms of information technology design.
            </p>
      </div>
      <div>
            <aside>
                  <a id='l1' href="/hci/lesson1"><div class="courselinks">Lesson 1</div></a>
                  <a id='g1' href="/hci/lesson1game"><div class="courselinks">Lesson 1 Game</div></a>
                  <a id='l2' href="/hci/lesson2"><div class="courselinks">Lesson 2</div></a>
                  <a id='g2' href="/hci/lesson2game"><div class="courselinks">Lesson 2 Game</div></a>
            </aside>
      </div>
      </div>
      <script src="../../public/js/hci3.js"></script>
</section>