<section>
      <h1>Your Progress in Human-Computer Interaction: 0%</h1>
      </p>
      <hr />
      <div>
            <p>
                  <strong>What is human computer interaction?</strong><br>Human-computer interaction (HCI) is a multidisciplinary field of study focusing on the design of computer technology and, in particular, the interaction between humans (the users) and computers. While initially concerned with computers, HCI has since expanded to cover almost all forms of information technology design.
            </p>
            <br>
            You are currently attending Wiztech's school for the gifted and techy in order to learn magic spells. The spells here are all cast using the power of Human Computer Interaction!
                  You are learning to defend yourself against the dark forces, but only by chanting the right HCI phrases can you cast them!
                  You've written down the spells in your notebook but unfortunately those pesky evil wizards know this and will use THEIR magic to erase the end of your incantation if they see you.
                  Hopefully you can remember what you are about to learn and defeat the evil once and for all...
      </div>
      <div>
            <aside>
                  <a href="/hci/lesson1"><div class="courselinks">Lesson 1</div></a>
                  <a href="/hci/lesson1game"><div class="courselinks">Lesson 1 Game</div></a>
                  <a href="/hci/lesson2"><div class="courselinks">Lesson 2</div></a>
                  <a href="/hci/lesson2game"><div class="courselinks">Lesson 2 Game</div></a>
            </aside>
      </div>
      </div>
</section>