<div>
    {{> navbar}}
    <h1>Featured Games</h1>
    <div class="myRow">
        <div class="container">
            <h1>Welcome to the site</h1>
        </div>
        <div class="container">
            <h1>Welcome to the site</h1>
        </div>
        <div class="container">
            <h1>Welcome to the site</h1>

        </div>
    </div>
</div>
<div>
    <h2>Newest Games Added</h2>
</div>