<section>
      <h1>CS Duolingo</h1>
      <p id="description">Welcome to CS Duolingo!!! Create an account to start learning from one of our great courses!
      </p>
      <hr />
      <div>
            <aside>

            </aside>
      </div>
</section>