<article>
      <h1>Tutorial</h1>
      <section>
            <hr />
            <h2>Home Page</h2>
                  <p>Step 1: If you do not have an account, click on the Sign Up button un the upper right of the screen. If you do have an account, hit the Log In button instead in the upper middle of the screen.</p>
                  <p>Step 2: You are now logged in! If you want to edit your profile, hit the button with your name in the upper middle of the screen.</p>
                  <p>Step 3: To access your courses, click on the names of the active courses. This also gives a bar of your completeness of the course.</p>
            <h2>Course Page</h2>
                  <p>Step 1: After clicking on a course, the Course Page will open, with links to the course lessons you can take towards completing the course.</p>
                  <p>Step 2: Click on one of these links to either complete a lesson you have not already done, or open a previously completed lesson.</p>
            <h2>Lesson Page</h2>
                  <p>Step 1: Complete the lesson tasks, be it the game, reading, or any other task that needs to be completed.</p>
                  <p>Step 2: After this is done, go back to the Course Page and see the progress that you have made in that course.</p>
            <h2>Finishing Up</h2>
                  <p>If you are finished with your courses and lessons for the day, click the Log Out button, your progress will be saved for when you come back. Then feel free to leave the page.</p>
                  <p>To leave this Tutorial Page and go back to the Home Page, click on the Home button in the upper left of the screen.</p>
      </section>
</article>